
*{
    margin: 0;
    padding: 0;
    background-color: darkcyan;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: #ccc;
    outline: 3px solid #000;
}

.navbarcontent {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
    background: inherit;
}

.navbarcontent li {
    margin-right: 20px;
}

.navbarcontent li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}